Checks: >-
  -*,
  clang-analyzer-*,
  -clang-analyzer-optin.performance.Padding,
  bugprone-assert-side-effect,
  bugprone-integer-division,
  bugprone-macro-parentheses,
  bugprone-misplaced-widening-cast,
  bugprone-sizeof-container,
  bugprone-sizeof-expression,
  bugprone-string-constructor,
  bugprone-use-after-move,
  performance-*
ExtraArgs: ['-UNDEBUG']
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)(src|tests)/'
FormatStyle: file
