build/
build-*/
cmake-build-*/
/media/
.venv/
__pycache__/
.cache/
.ruff_cache/

*.o
*.obj
*.a
*.so
*.dylib

.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
